/* @import url( google font Nokora) */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nokora, sans-serif;
    font-weight: 400;
    color: #203f4a;
}

/* Header and Logo */

header {
    height: 65px;
    width: 100%;
    background-color: rgb(209, 203, 198, 0.6);
}

h1, h2 {
    font-family: Nokora, sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
}

#logo {
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

#logo a {
    text-decoration: none;
}

/* Navigation links */

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid #203f4a;
}

#navigation li {
    float: right;
    list-style-type: none;
    line-height: 70px;
    margin-right: 50px;
    letter-spacing: 10px;
}

.current-page {
    border-bottom: 1px solid #203f4a;
}
