@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 400;

    margin: 0;
    
    color: rgba(02, 63, 74);
}

.cream-background {
    background-color: rgb(209, 203, 198);
}
/* Header and Logo */

header {
    min-height: 65px;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;

    color: rgba(02, 63, 74);
}

#logo {
    font-size: 350%;
    float: left;
    margin-left: 50px;
}


/* Navigation links */

#navigation {
    text-align: right;
}

#logo, #navigation {
    line-height: 60px;

}
#logo, #navigation a{
    text-decoration: none;
}


#navigation li {
    list-style-type: none;
    margin: 0px 20px;
    letter-spacing: 5px;
    display: inline-block;
}

#navigation a {
    font-size: 120%;
    color: rgba(02, 63, 74);
}

#navigation a:hover {
    border-bottom: 1px solid rgba(02, 63, 74);
}

.current-page {
    border-bottom: 1px solid rgba(02, 63, 74);
}

/* Main image */

#image-area {
    height: 650px;
    position: relative;
}

#landing-image {
    height: 650px;
    background: url('../images/index-1.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 2px solid rgb(1, 104, 123);
}

/* Signup CTA Box */

#main-signup {
    width: 300px;
    height: 80px;
    bottom: 40%;
    right: 5%; 

    padding-top: 5px;
    padding-left: 10px;
    border-radius: 100px;

    position: absolute;
    
    font-family: Oswald, sans-serif;
    font-size: 125%;
    letter-spacing: 10px;
    text-align: center;
    
    background-color: rgb(209, 203, 198, .9); 
    border: 1px solid rgb(1, 104, 123);
}

#main-signup h2 {
    padding-top: 10px;
}

#main-signup-button {
    width: 60%;

    margin-left: 20%;
    margin-top: 5%;
    border-radius: 100px;
    padding-top: 5px;
    padding-bottom: 5px;

    border: 1px solid rgb(1, 104, 123);
}

.signup-button {
    background-color: rgba(02, 63, 74);
}

.signup-button a {
    text-decoration: none;
    color: rgb(209, 203, 198);
}

#main-signup-button a:hover{
    border-bottom: 1px solid rgb(209, 203, 198);
}

/* About us section */

#about-us-outer {
    min-height: 600px;

    border-top: 2px solid rgb(1, 104, 123);
}

#about-us-content {
    min-height: 600px;
    width: 40%;

    padding: 0px 15px 15px 15px;
    float: right;
    box-sizing: border-box;
}

#about-us-content h2 {
    font-size: 170%;
    text-align: center;
    text-decoration: underline;

    padding: 20px 0px 20px 0px;
}

#about-us-image {
    height: 600px;
    width: 60%;
    background: url('../images/index-2.jpg') no-repeat center center;
    background-size: cover;

    float: left;

    box-sizing: border-box;
    border-right: 2px solid rgb(1, 104, 123);
}

/* What we offer section */

#what-we-offer-outer {
    min-height: 600px;

    border-top: 2px solid rgb(1, 104, 123);
}

#what-we-offer-content {
    min-height: 600px;
    width: 40%;

    float: left;

    box-sizing: border-box;
}

#what-we-offer-image {
    height: 600px;
    width: 60%;
    background: url('../images/index-3.jpg') no-repeat left center;
    background-size: cover;

    border-left: 2px solid rgb(1, 104, 123);

    float: right;

    box-sizing: border-box;
}

#what-we-offer-content h2 {
    font-size: 200%;
    text-align: center;
    text-decoration: underline;

    margin: 0px 5px;
    padding-top: 20px;
}

.what-we-offer-titles h3 {
    text-decoration: underline;
    padding-top: 20px;
}

#what-we-offer-content ul {
    padding: 0px 20px 20px 20px;
}



/* Surf Locations */

#surf-locations {
    min-height: 450px;
    text-align: center;

    background: url('../images/index-4.jpg') no-repeat center center;
    background-size: cover;

    border-top: 2px solid rgb(1, 104, 123);
    border-bottom: 2px solid rgb(1, 104, 123);
}

#surf-locations > h2 {
    font-size: 200%;
    text-align: center;
    text-decoration: underline;

    padding: 20px 5px;
}

#surf-locations div {
    font-size: 20px;
    text-align: center;
    width: 200px;

    margin: 5px;
    box-sizing: border-box;

    display: inline-block;
}

#surf-locations div h3 {
    text-decoration: underline;
}


.weekday {
    margin: 0px 10px;
    border-radius: 20px;
    border: 2px solid rgb(1, 104, 123);

    padding: 10px 0px 20px 0px;

    background-color: rgb(209, 203, 198, .9);
}

/* Contact Us Section */

#contact-us {
    min-height: 200px;
    text-align: center;
}

#contact-us div {
    display: inline-block;
}

#contact-us h2 {
    padding: 10px 0;
}

#address {
    font-size: 20px;

    margin: 0 0 20px 20px;
}

table {
    border: 2px dashed rgb(1, 104, 123);
    margin: 0px 5px;
}

th, td {
    padding: 0 20px;
} 

/* Social Links */

footer {
    min-height: 50px;
    background-color: rgb(209, 203, 198); 
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 0 5%;
    color: rgba(02, 63, 74);
}

/* Gallery Page */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;

    background-color: rgb(209, 203, 198);
}

#gallery > img {
    width: 100%;
}

/* signup page */

#form-section{
    background: url('../images/signup-1.jpg') no-repeat center center;
    min-height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-up {
    display: inline-block;
}

.signup-form {
    border-radius: 50px;
    margin-top: 50px;
    color: white;
    background-color: rgb(1, 104, 123, .6);
    max-width: 500px;
    min-width: 200px;
    margin: 20px;
    padding: 30px;
}

.signup-form h2 {
    color: white;
    margin-bottom: 20px;  
}

.signup-form h3 {
    color: white;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.text-input {
    height: 25px;
    width: 100%;
    text-align: center;
    letter-spacing: 4px;
    color: white;
    
    background: transparent;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 10px;
}

.text-input:hover {
    border-color: orange;
}

.submit-button {
    font-size: 100%;
    text-align: center;
    border-radius: 15px;

    margin-top: 5px;
    padding: 15px 30px;
    
    background-color: rgb(209, 203, 198);
    color: rgb(1, 104, 123);

    display: block;
}

.submit-button:hover {
    border-radius: 40px;
    background-color: white;
    color:  rgb(1, 104, 123);
}

form label {
    letter-spacing: 2px;
}

.signin-form {
    border-radius: 50px;
    margin-top: 50px;
    color: white;
    background-color: rgb(1, 104, 123, .6);
    max-width: 200px;
    padding: 30px;
}

#sign-in {
    max-width: 500px;
    min-width: 200px;
    color: rgb(1, 104, 123);
    background-color: rgb(209, 203, 198, .6);
}

#sign-in h2 {
    color: rgb(1, 104, 123);
}

.signin-button {
    font-size: 100%;
    text-align: center;
    border-radius: 15px;

    margin-top: 20px;
    padding: 15px 30px;
    
    background-color: rgb(1, 104, 123);
    color: white;

    display: block;
}

.signin-button:hover {
    border-radius: 40px;
    background-color: white;
    color: rgb(1, 104, 123);
}



/* Media queries */

/* Media queries for medium - large screen sizes 974px and smaller */

@media screen and (max-width: 974px){

    #navigation {
        clear: left;
        text-align: left;
    }

    #navigation li {
        display: inline-block;
    }
    
    #about-us-outer {
        min-height: 800px;
    }

    #about-us-content {
        text-align: center;
        min-height: 350px;
        width: 100%;
        margin: 0 auto;
        border-bottom: 2px dashed rgb(1, 104, 123);
    }

    #about-us-image{
        height: 450px;
        width: 100%;
        border-right: none;
    }
    
    #what-we-offer-outer {
        min-height: 800px;
    }

    #what-we-offer-content {
        min-height: 350px;
        width: 100%;
        margin: 0 auto;
        
        border-bottom: 2px dashed rgb(1, 104, 123);
    }
    
    #what-we-offer-image {
        height: 450px;
        width: 100%;
        border-left: none;
        border-bottom: 2px solid rgb(1, 104, 123);
    }

    #gallery {
        column-count: 3;
    }
}

/* Media queries for medium screen sizes 767px and smaller */

@media screen and (max-width: 767px){

    #main-signup {
        bottom: 15%;
        right: 1%;
    }

    #form-section {
        height: 1200px;
        display: grid;
    }
}

/* Media queries for small screen sizes 600px and smaller */

@media screen and (max-width: 600px){

    #gallery {
        column-count: 2;
    }

    .signup-form, .signin-form {
        margin: 5px 20px;
    }
}

@media screen and (max-width: 400px){

    #gallery {
        column-count: 1;
    }
}