@import url('https://fonts.googleapis.com/css?family=Nokora');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nokora, sans-serif;
    font-weight: 300;
    color: rgba(02, 63, 74);
}

/* Header and Logo */

header {
    height: 65px;
    width: 100%;
    background-color: rgb(209, 203, 198, .8);
}

h1, h2 {
    font-family: Nokora, sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;

    color: rgba(02, 63, 74);
}

#logo {
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

#logo a {
    text-decoration: none;
}

/* Navigation links */

#navigation li {
    float: right;
    list-style-type: none;
    line-height: 60px;
    margin-right: 50px;
    letter-spacing: 8px;
}

#navigation a {
    font-size: 120%;
    text-decoration: none;
    
    color: rgba(02, 63, 74);
}

#navigation a:hover {
    border-bottom: 1px solid rgba(02, 63, 74);
}

.current-page {
    border-bottom: 1px solid rgba(02, 63, 74);
}

/* Main image */

#image-area {
    height: 650px;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}


#landing-image {
    height: 650px;
    width: 100%;
    /* background: url('/assets/images/pexels-photo-1549196.jpeg') no-repeat center center; */
    background-size: cover;
}

/* Signup CTA Box */

#main-signup {
    width: 500px;
    height: 200px;
    bottom: 35%;
    right: 5%; 

    padding-top: 20px;
    padding-left: 10px;
    border-radius: 100px;

    position: absolute;
    
    font-family: Nokora, sans-serif;
    font-size: 125%;
    letter-spacing: 10px;
    text-align: center;
    
    background-color: rgb(209, 203, 198);  
}

#main-signup h2 {
    padding-top: 10px;
}

#main-signup-button {
    width: 60%;

    margin-left: 20%;
    margin-top: 5%;
    border-radius: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.signup-button {
    background-color: rgba(02, 63, 74);
}

.signup-button a {
    text-decoration: none;
    color: rgb(209, 203, 198);
}

#main-signup-button a:hover{
    border-bottom: 1px solid rgb(209, 203, 198);
}

/* About us section */

#what-we-offer-outer {
    height: 600px;
    width: 100%;

    background-color: rgb(209, 203, 198);
}

#what-we-offer-image {
    background: url('../images/pexels-jess-loiterton-5007775.jpg') no-repeat center center;
    height: 600px;
    width: 60%;
    background-size: cover;
    background-position-y: -450px;

    float: right;
}

/* what we offer section */

#what-we-offer-content h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 200%;
    padding-top: 25px;
}

#what-we-offer-content {
    height: 600px;
    width: 40%;
    text-align: center;    
}




/* media queries medium-large screen sizes

@media only screen and (max-width: 1008px){
    #navigation li {
        display: inline;
    }
}; */

