@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    
    color: rgba(02, 63, 74);
}

.cream-background {
    background-color: rgb(209, 203, 198);
}
/* Header and Logo */

header {
    height: 65px;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;

    color: rgba(02, 63, 74);
}

#logo {
    font-size: 350%;
    float: left;
    margin-left: 50px;
}


/* Navigation links */

#logo, #navigation {
    line-height: 60px;

}
#logo, #navigation a{
    text-decoration: none;
}


#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    letter-spacing: 8px;
}

#navigation a {
    font-size: 120%;
    color: rgba(02, 63, 74);
}

#navigation a:hover {
    border-bottom: 1px solid rgba(02, 63, 74);
}

.current-page {
    border-bottom: 1px solid rgba(02, 63, 74);
}

/* Main image */

#image-area {
    height: 650px;
    width: 100%;
    position: relative;
}

#landing-image {
    height: 650px;
    width: 100%;
    background: url('/assets/images/pexels-elle-hughes-1549196.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 2px solid rgb(1, 104, 123);
}

/* Signup CTA Box */

#main-signup {
    width: 300px;
    height: 200px;
    bottom: 40%;
    right: 5%; 

    padding-top: 5px;
    padding-left: 10px;
    border-radius: 100px;

    position: absolute;
    
    font-family: Oswald, sans-serif;
    font-size: 125%;
    letter-spacing: 10px;
    text-align: center;
    
    background-color: rgb(209, 203, 198, .9); 
    border: 1px solid rgb(1, 104, 123);
}

#main-signup h2 {
    padding-top: 10px;
}

#main-signup-button {
    width: 60%;

    margin-left: 20%;
    margin-top: 5%;
    border-radius: 100px;
    padding-top: 5px;
    padding-bottom: 5px;

    border: 1px solid rgb(1, 104, 123);
}

.signup-button {
    background-color: rgba(02, 63, 74);
}

.signup-button a {
    text-decoration: none;
    color: rgb(209, 203, 198);
}

#main-signup-button a:hover{
    border-bottom: 1px solid rgb(209, 203, 198);
}

/* What we offer section */

#what-we-offer-outer {
    height: 600px;
}

#what-we-offer {
    height: 600px;
    width: 40%;
}

#what-we-offer-image {
    height: 600px;
    width: 60%;
    background: url('../images/pexels-adina-lavinia-moldovan-1053536.jpg') no-repeat center center;
    background-size: cover;

    border-left: 2px solid rgb(1, 104, 123);

    float: right;
}

#what-we-offer h2 {
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
}

.what-we-offer-titles h3 {
    text-decoration: underline;
    padding-top: 20px;
}

#what-we-offer ul {
    padding: 0px 50px 0px 50px;
    font-size: larger;
}

/* About us section */

#about-us-outer {
    height: 600px;

    border-top: 2px solid rgb(1, 104, 123);
}

#about-us-content {
    height: 600px;
    width: 40%;

    font-size: larger;
    padding: 0px 50px 0px 50px;

    float: right;

    box-sizing: border-box;
}

#about-us-content h2 {
    font-size: 170%;
    text-align: center;
    text-decoration: underline;

    padding: 20px 0px 20px 0px;
}

#about-us-image {
    height: 600px;
    width: 60%;
    background: url('../images/pexels-max-ravier-3348391.jpg') no-repeat center center;
    background-size: cover;

    float: left;

    box-sizing: border-box;
    border-right: 2px solid rgb(1, 104, 123);
}


